ul#acknowledgements {
  padding: 15px;
}

.width-500 {
  width: 730px;
  border-radius: 4px;
}

.team {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#acknowledgements a {
  &:hover {
    color: $unpolarise-orange-opacity-dark;
  }
}
