<h1>Please</h1>

<p><%= link_to "Sign Up", "#", data: { toggle: "modal", target: "#mySignUpModal" }, class: "navbar-wagon-item navbar-wagon-link" %></p>
<p>or</p>
<p><%= link_to "Login", "#", data: { toggle: "modal", target: "#myLoginModal" }, class: "navbar-wagon-item navbar-wagon-link" %></p>
