<h1>Please</h1>

<p><%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
<p>or</p>
<p><%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
