  <div class="tabs">
    <%= link_to "Your Newsfeed Analytics", analytics_path, class: "tab #{'active' if active == :analytics}"  %>
    <%= link_to "Your Friends's Analytics", friends_analytics_path, class: "tab #{'active' if active == :friends_analytics}"  %>
  </div>
