<!-- Static page which contains information about Unpolarise -->

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h2 class="header">Remove your newsfeed bias:</h2>
      <p class="padded-text txt-para">
        Most of us are increasingly accessing our news online. Whilst this has brought several benefits, it can be increasingly hard to distinguish the subjective lens that this information is fed to us through. The opaque algorithms that process everything we read, can lead to us only getting exposed to viewpoints with which we already agree. This <span class="italic">echo chamber</span> effect happens passively, and can lead to reductions in freedom of thought and diversity of information.
      </p>
      <h2 class="header">How it works:</h2>
      <p class="padded-text txt-para">
        Unpolarise helps you to understand the news you consume and challenges your newsfeed bias with recommendations outside your conversational sphere. It achieves this by browsing data collected from your Facebook newsfeed. By presenting you with analytics of the news you read, Unpolarise aims to allow you to understand the boundaries of your echo chamber. Furthermore, by suggesting interesting articles from alternative viewpoints, it aims to allow you to step out of this echo chamber altogether.
      </p>
      <p class="padded-text txt-para">
        <span class="italic">"The only way to challenge this phenomena is to educate – you teach people to realise these things themselves."</span> - Noam Chomsky
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h2 class="header">Team:</h2>
      <div class="text-center">
        <%= image_tag("team.jpg", class: "width-500") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
        <div class="team">
          <div id="sandrine">
            <p>Sandrine A.</p>
          </div>
          <div id="edward">
            <p>Edward S.</p>
          </div>
          <div id="amal">
            <p>Amal K.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h2 class="header">Acknowledgements:</h2>
      <ul id="acknowledgements">
        <li>
          <p class="padded-text txt-para">The Ecochamber Club provided plenty of inspiration - you can find them <a href="https://echochamber.club/" class="unpolarise-orange">here</a> <i class="fa fa-wifi" aria-hidden="true"></i></p>
        </li>
        <li>
          <p class="padded-text txt-para">Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></p>
        </li>
        <li>
          <p class="padded-text txt-para">Le Wagon &hearts; - A 9-week <%= link_to("coding bootcamp", 'https://www.lewagon.com/london', class: "unpolarise-orange") %> during which this project was developed.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

