<!-- Static page which contains information about Unpolarise -->

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h2 class="header">Remove your newsfeed bias:</h2>
      <p class="padded-text txt-para">
        Most of us are increasingly accessing our news online. Whilst this has brought several benefits, it can be increasingly hard to distinguish the subjective lens that this information is fed to us through. The fear with the opaque algorithms process everything we read, is that we only get exposed to viewpoints with which we already agree. In the extreme this can lead to reductions in freedom of thought and diversity.
      </p>
      <h2 class="header">How it works:</h2>
      <p class="padded-text txt-para">
        Unpolarise helps you to understand the news you consume and challenges your newsfeed bias with recommendations outside your conversational sphere. By browsing the data collected from your Facebook newsfeed, Unpolarise aims to allow you to step back by presenting you analytics of the news you read and by suggesting interesting articles giving alternative viewpoints.
      </p>
      <p class="padded-text txt-para">
        <span class="italic">"The only way to challenge this phenomena is to educate – you teach people to realise these things themselves."</span> - Noam Chomsky
      </p>
    </div>
  </div>
  <div class="row padded-bottom">
    <h2>Acknowledgements</h2>
    <p>Ecochamber Club</p>
    <p>Facebook stuff</p>
  </div>
</div>

