<% if user_signed_in? %>
  <h1>Your Analytics</h1>
  <!-- Graph that displays the count of each category of site (i.e. 'left')  -->
  <%= pie_chart Link.group(:url).count.to_a, donut: true %>
  <!-- Graph that displays the count of each particular site-->
  <%= area_chart Link.group(:url).count.to_a %>
<% else %>
  <%= render 'shared/signin' %>
<% end %>
