<p class="txt-para">This project was made during the Le Wagon programming bootcamp as a means to put into action the ideas learnt throughtout the course. It is not to be continued after the project ends.</p>
