<!-- Page that displays the info about the project -->
<div class="container body-container">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h2 class="header">Legal:</h2>
        <p class="padded-text txt-para">This project was made during the Le Wagon programming bootcamp as a means to put into action the ideas learnt throughtout the course. It is not to be continued after the bootcamp ends.</p>
        <p class="padded-text txt-para">We do not store, analyse or look at any data related to specific individuals - e.g. who posted articles or liked a page. Only information portaining to the source of news (i.e. what news site) and the number of friends who liked a particular Facebook page is collected. This information helps indicate what is dominating your news feed, and allows us to help you understand your echo chamber.
      </p>
    </div>
  </div>
</div>

