<!-- Logged out banner -->

<div class="container">

  <!-- Display this banner only when the user is logged out -->
  <% if user_signed_in? == false %>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="banner">
          <div class="banner-content text-center">
            <p><%= image_tag("h1-home.svg", class: "width-500") %></p>
            <h2>Understand the news you consume online everyday</h2>
            <p><br></p>
            <%= link_to "Sign up with Facebook", omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form btn-form-unpolarise" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<!-- <div data-0="transform:translate(0px,0px);" data-500="transform:translate(1000px,1000px);"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div> -->

<!-- Explaining the concept -->

<div class="wrapper-light-grey">
  <div class="container text-center">
    <p>Challenge your newsfeed bias with recommendations outside your conversational sphere</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Step 1</p>
        <p>Connect with Facebook</p>
        <i class="fa fa-facebook fa-5x"></i><br>
        <i class="fa fa-facebook fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Step 2</p>
        <p>Download our Chrome Extension</p>
        <i class="fa fa-facebook fa-5x"></i><br>
        <i class="fa fa-facebook fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Step 3</p>
        <p>Click</p>
        <i class="fa fa-facebook fa-5x"></i><br>
        <i class="fa fa-facebook fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Step 4</p>
        <p>Analysis</p>
        <i class="fa fa-facebook fa-5x"></i><br>
        <i class="fa fa-facebook fa-5x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Step 5</p>
        <p>Suggested Articles</p>
        <i class="fa fa-facebook fa-5x"></i><br>
        <i class="fa fa-facebook fa-5x"></i>
      </div>
    </div>
  </div>
</div>
