// Your footer style
// CSS for the footer used across the website
.footer-container {
  background-color: white;
  // background-color: $unpolarise-off-white;
  color: $unpolarise-dark-grey;
  height: 100px;
  margin: 10px 0 0 0;
  margin-top: 40px;
  // position: absolute;
  width: 100%;
  // bottom: 0;
}

.footer-content {
    font-weight: 200px;
    max-width: 800px;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

.footer-list {
  list-style-type: none;
}

.footer-list-link {
  color: $unpolarise-dark-grey;
  padding: 0 15px;
  &:hover {
    color: $unpolarise-orange;
    text-decoration: none;
  }
  &:active {
    color: $unpolarise-orange;
    text-decoration: none;
  }
}

