<!-- Form to be filled in to sign in to an existing account -->
<div class="container padded-top body-container">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
      <div class="form-content">
        <div class= "text-center">
          <p>You must be signed in to see your analysis and receive recommendations.</p>
          <br>
        </div>
        <!-- Give the user the option to sign in with Facebook -->
        <%= link_to "Log in with Facebook", omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form" %>
      </div>
    </div>
  </div>
</div>
