.banner {
  color: rgb(50,50,50);
  height: calc(100vh - 260px); // So that we can see a little of the articles below
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.wrapper-temporary {
  background-color: $unpolarise-lighter-grey;
}

.banner-logged-in {
  color: rgb(50,50,50);
  height: calc(100vh - 340px); // So that we can see a little of the articles below
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

/////////////////////////////////////////
// Our banner classes
/////////////////////////////////////////

.banner-unpolarise {
  height: 30vh;
  background-size: cover;
  background-position: center;
}

