////  CSS for the smaller cards  ////
.card-small {
  padding: 0 5px;
  position: relative;
  height: 400px;
}
.card-small-title {
  font-weight: bold;
  color: black;
  &:hover {
    color: $unpolarise-orange;
  }
}
.card-small-content {
  font-weight: lighter;
  color: $unpolarise-dark-grey;
}

////  CSS for the larger cards ////
.card-large {
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
}
.card-large-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 0 10px 0 20px;
  justify-content: flex-start;
  a {
    color: black;
  }
  .card-large-title {
    font-weight: bold;
    margin-top: 0;
    h2 {
      // margin-top: 0;
      font-weight: bold;
      color: black;
    }
    &:hover {
      color: $unpolarise-orange;
    }
  }
  .card-large-text {
    font-weight: lighter;
    color: $unpolarise-dark-grey;
    // overflow: hidden;
  }
}
.card-large-content-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 0 20px 0 0;
  justify-content: flex-start;
  a {
    color: black;
  }
  .card-large-title {
    font-weight: bold;
    margin-top: 0;
    h2 {
      // margin-top: 0;
      font-weight: bold;
      color: black;
    }
    &:hover {
      color: $unpolarise-orange;
    }
  }
  .card-large-text {
    font-weight: lighter;
    color: $unpolarise-dark-grey;
    // overflow: hidden;
  }
}
.card-large-image {
  flex: 0 0 60%;
  height: 350px;
  background-color: #d3d3d3;
  background-size: cover;
}

//// CSS for the cards on the show page ////
.card-show {
  h2 {
    font-weight: bold;
  }
}

////  CSS for both cards ////

.icon {
  color: $unpolarise-orange;
}
// This is the container that holds the cards for a page
.cards {
  margin-top: 40px;
}

// Card for the description of the weekly topic on the Articles Index page
.card-top-index {
  height: 280px;
  background-color: $unpolarise-lighter-grey;
  color: $gray;
  position: relative;
  border-radius: 4px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}
// Card for the description of user on the Articles Index page
.card-description h2 {
  font-size: 24px;
  padding-bottom: 20px;
}

.card-description p {
  font-size: 15px;
}

.card-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.confidence-score img {
  margin-bottom: 30px;
}

// Card category for the small cards on the articles on the suggested article page
.card-category {
  background-color: $unpolarise-lighter-grey;
  color: $unpolarise-dark-grey;
  position: relative;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  margin: 20px 0 30px 0;
}

.card-category-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Card for Login page

.card-login {
  background-color: $unpolarise-lighter-grey;
  color: $unpolarise-dark-grey;
  position: relative;
  border-radius: 4px;
  padding: 60px 60px 20px 60px;
  margin: 20px 0 30px 0;
  height: 300px;
}

.card-login-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    margin-top: 20px;
  }
}

// Card for Signup page

.card-signup {
  background-color: $unpolarise-lighter-grey;
  color: $unpolarise-dark-grey;
  position: relative;
  border-radius: 4px;
  padding: 60px 60px 20px 60px;
  margin: 20px 0 30px 0;
  height: 540px;
}

.card-signup-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    margin-top: 20px;
  }
}

// Card for the Analytics page

#card-graph-1 {
  background-color: $unpolarise-lighter-grey;
  color: $gray;
  position: relative;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 30px;
  width: 100%;
}

#card-graph-2 {
  background-color: $unpolarise-lighter-grey;
  color: $gray;
  position: relative;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
  width: 100%;
}

#card-graph-3 {
  background-color: $unpolarise-lighter-grey;
  color: $gray;
  position: relative;
  border-radius: 4px;
  padding: 20px 30px 30px 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 210px;
  h4 {
    font-size: 17px;
    font-weight: bolder;
  }
  ol {
    padding-left: 20px;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  .button-top-5 {
    width: 200px;
  }
  p {
    color: $unpolarise-dark-grey;
    font-size: 15px;
  }
}
