////  CSS for the smaller cards  ////
.card-small {
  padding: 0 5px;
  position: relative;
  height: 400px;
}
.card-small-title {
  font-weight: bold;
  color: black;
  &:hover {
    color: $unpolarise-orange;
  }
}
.card-small-content {
  font-weight: lighter;
  color: $unpolarise-dark-grey;
}

////  CSS for the larger cards ////
.card-large {
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
}
.card-large-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 0 10px 0 20px;
  justify-content: flex-start;
  a {
    color: black;
  }
  .card-large-title {
    font-weight: bold;
    margin-top: 0;
    h2 {
      // margin-top: 0;
      font-weight: bold;
      color: black;
    }
    &:hover {
      color: $unpolarise-orange;
    }
  }
  .card-large-text {
    font-weight: lighter;
    color: $unpolarise-dark-grey;
    // overflow: hidden;
  }
}
.card-large-content-left {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  padding: 0 20px 0 0;
  justify-content: flex-start;
  a {
    color: black;
  }
  .card-large-title {
    font-weight: bold;
    margin-top: 0;
    h2 {
      // margin-top: 0;
      font-weight: bold;
      color: black;
    }
    &:hover {
      color: $unpolarise-orange;
    }
  }
  .card-large-text {
    font-weight: lighter;
    color: $unpolarise-dark-grey;
    // overflow: hidden;
  }
}
.card-large-image {
  flex: 0 0 60%;
  height: 350px;
  background-color: #d3d3d3;
  background-size: cover;
}

//// CSS for the cards on the show page ////
.card-show {
  h2 {
    font-weight: bold;
  }
}

////  CSS for both cards ////

.icon {
  color: $unpolarise-orange;
}
// This is the container that holds the cards for a page
.cards {
  margin-top: 40px;
}

// Two special cards for the Articles Index page
.card-top-index {
  height: 280px;
  background-color: $unpolarise-lighter-grey;
  color: $gray;
  position: relative;
  border-radius: 4px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.card-description h2 {
  font-size: 24px;
  padding-bottom: 20px;
}

.card-description p {
  font-size: 15px;
}

.confidence-score {
  display: flex;
  justify-content: space-around;
}

.confidence-score img {
  margin-bottom: 30px;
}

// Card category
.card-category {
  background-color: $unpolarise-lighter-grey;
  color: $unpolarise-dark-grey;
  position: relative;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  margin: 20px 0 30px 0;
}

.card-category-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 10px;
//   text-transform: uppercase;
// }


// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover{
//   opacity: 0.1;
// }


